@media (max-width: 46.1875em) { 

    #login {
        width: 90%;
    }

    .login-bot {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .login-desc {
        line-height: 2;
    }
}

