:root {
    --primary: #fe0000;
    --primary2: #c69a39;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* // scrollbar */
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgb(198,154,57, 0.8);
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgb(198,154,57, 0.8);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

html {
    font-size: 62.5% !important;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif !important;
    box-sizing: border-box;
}

.active {
    color: var(--primary);
}

.active2 {
    background-color: var(--primary2);
    color: #fff !important;
}

.bold-black {
    color: #000;
    font-weight: 600;
}

.hover-blue:hover {
    color: blue;
    opacity: 0.8;
}

.display-none {
    display: none ;
}

.display-block {
    display: block !important;
}

.display-flex {
    display: flex;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-pointer:hover {
    opacity: 0.8;
}

.cursor-pointer2 {
    cursor: pointer;
}

.cursor-pointer2:hover > span {
    opacity: 0.8;
}
