
#header {
    width: 100%;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.navbar__top {
    padding: 0 88px;
    margin: 0 63px;
}

.navbar__top-items {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0 10px;
}


.navbar__item-link a {
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
}

.form {
    position: relative;
    margin-top: 1.5px !important;
}

.form2::after {
    position: absolute;
    content: '';
    display: block;
    width: 1px;
    height: 15px;
    background-color: #fff;
    left: 0;
    top: 7px;
}

/* QR-code */
.navbar__qr {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 186px;
    left: 0;
    margin-top: 6px;
    top: 100%;
    padding: 4px 1px;
    border-radius: 2px;
    animation: fadeIn ease-in .3s;
    z-index: 13;
    box-shadow: 0 2px 6px #ccc;
}

.navbar__qr::before {
    content: '';
    display: block;
    width: 190px;
    height: 20px;
    background-color: transparent;
    margin-top: -20px;
    margin-left: -10px;
}

.navbar__qr-img {
    width: 100%;
    z-index: 110;
}

.navbar__qr-apps {
    display: flex;
    justify-content: space-between;
}

.navbar__qr-link:nth-child(1) {
    margin-left: 11px;
}

.navbar__qr-link:nth-child(2) {
    margin-right: 11px;
}

.navbar__qr-download-img {
    height: 16px;
}

.navbar__item-link:hover .navbar__qr {
    display: block;
}

/* left */
.navbar__top-left {
    display: flex;
    align-items: center;
    margin: 6px 0;
}
.border-right {
    border-right: 1px solid #fff;
}

.navbar__top-left-icon {
    font-size: 1.7rem;
    margin-left: 8px;
    cursor: pointer;
}
.navbar__top-left-icon:hover {
    opacity: 0.8;
}
.navbar__top-left li {
    flex-direction: row;
    margin-right: 10px;
    padding: 6px 15px 6px 0;
}

.navbar__item-link {
    position: relative;
    margin: 0 4px;
    font-size: 1.4rem;
    color: #fff;
}
/*  */

.navbar__item-link:hover #cart {
    display: block;
}

/* cart */
#cart {
    cursor: default ;
    display: none;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    z-index: 8;
    left: -100px;
    top: calc(100% + 6px);
    min-width: 400px;
    min-height: 200px;
    position: absolute;
    box-shadow: 0 2px 6px #ccc;
    animation: fadeIn ease-in 0.2s;
}

#cart::before {
    position: absolute;
    content: '';
    display: block;
    top: -33px;
    left: 32%;
    border-style: solid;
    border-width: 25px 30px;
    border-color: transparent transparent #fff transparent;
}

#cart::after {
    position: absolute;
    display: block;
    content: '';
    top: -10px;
    left: 100px;
    width: 100px;
    height: 30px;
}

#cart-list {
    list-style-type: none;
    overflow-y: auto;
    max-height: 55vh;
}

#cart .cart-heading {
    font-weight: 600;
    margin: 20px 0 20px 20px;
    font-size: 1.8rem;
    color: var(--primary2);

}

.cart-empty {
    margin: 15px 15px 50px;
}

.reload-price {
    border-radius: 4px;
    margin: 5px 160px -10px;
    background-color: var(--primary2);
    border: none;
    color: #fff;
    padding: 6px 8px;
}

.reload-price:hover {
    opacity: 0.8;
}

.cart__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.cart-total {
    background-color: #fff;
    font-size: 1.4rem;
}

.cart-buy {
    cursor: pointer;
    border: none;
    font-size: 1.3rem;
    padding: 6px 8px;
    float: right;
    border-radius: 4px;
    background-color: var(--primary);
    color: #fff;
}

.cart-buy:hover {
    opacity: 0.6;
}

.wrapper1 {
    margin-bottom: 0px;
}

.cart__tablet{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tablet-desc {
    margin: 10px 30px;
    font-size: 1.6rem;
    font-weight: 500;
    color: #000;
}

.cart__product {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    margin: 10px 15px 10px 15px;
    padding-bottom: 10px;
}


.cart__phone-img {
    width: 80px;
}

.cart__phone-name {
    line-height: 2;
    max-width: 120px;
    font-size: 1.4rem;
    font-weight: 500;
}

.cart__right {
    display: flex;
    flex-direction: column;
    line-height: 2;
}

.cart__phone-price {
    line-height: 2;

    margin-left: 20px;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--primary);
}
.product-quantily {
    padding: 0 0 0 2px;
    margin: 5px 0 10px 60px;
    width: 30px;
}

.cart__delete-icon {
    cursor: pointer;
    border: none;
    font-size: 1.3rem;
    padding: 4px 6px;
    width: 40px;
    margin-left: 50px;
    float: right;
    border-radius: 4px;
    background-color: var(--primary);
    color: #fff;
}

.cart__delete-icon:hover {
    opacity: 0.6;
}
/* end cart */


/* toast msg */
.toast {
    display: block;
}

.toast__msg {
    display: flex;
    align-items: center;
    right: 0;
    top: 40px;
    position: fixed;
    background-color: #fff;
    height: 70px;
    width: 320px;
    box-shadow: 0 2px 4px #ccc;
    z-index: 9;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: 4px solid rgb(141, 203, 17);
    animation: slideInLeft ease .35s, fadeOut linear 1s 2s forwards;
}

.toast__msg.warning {
    border-left: 4px solid var(--primary) !important;
}

.warning {
    color: var(--primary) !important;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.toast-icon {
    margin-left: 10px;
    color: rgb(141, 203, 17);
    font-size: 2rem;
}

.toast-title {
    height: 70px;
    margin: 0 20px 0 10px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: #000;
}

/* right */
.navbar__top-right {
    display: flex;
    align-items: center;
}

.navbar__top-right li {
    padding: 6px 0 6px 10px;
    margin-left: 10px;
}

.navbar__top-right-icon {
    font-size: 1.7rem;
    margin-right: 5px;
}

.nav__account {
    display: none;
    background-color: #fff;
    margin-top: 6px;
    color: #000;
    position: absolute;
    list-style-type: none;
    box-shadow: 0 2px 6px #ccc;
    border-radius: 2px;
    animation: fadeIn ease-in 0.2s;
    z-index: 1;
}
.nav__account::before {
    content: '';
    display: block;
    width: 130px;
    height: 20px;
    background-color: transparent;
    margin-top: -20px;
    left: 0;
}

.nav__account li {
    font-size: 1.3rem;
    margin: 0;
    line-height: 1.6;
    width: 150px;
    padding: 5px 15px;
}
.nav__account li:nth-child(4) {
    border-top: 1px solid #ccc;
    color: var(--primary);
}
.nav__account li:hover {
    background-color: rgb(231, 230, 230);
}

.navbar__item-link:hover .nav__account {
    display: block;
}

/*  */
.nav__bar-body {
    overflow: hidden;
    margin: 0 63px;
    padding: 0 88px;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-nguyenkim {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__input {
    position: relative;
    display: flex;
}

.navbar__input {
    outline: none;
    height: 40px;
    border: none;
    padding: 0 10px;
    color: #111;
    font-size: 1.5rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 340px;
    border: 1px solid transparent;
}

.navbar__input:focus {
    border: 1px solid rgb(124, 124, 252);
}

.input__icon-delete {
    display: none;
    cursor: pointer;
    padding: 13px 12px 10px;
    position: absolute;
    font-size: 2.5rem;
    right: 60px;
    margin-top: 0;
}

.input__icon-delete:hover,
.footer__input-delete:hover {
    opacity: 0.6;
}

#navbar__search-btn {
    position: relative;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 40px;
    border: none;
    background-color: #ffa800;
    width: 56px;
    cursor: pointer;
}

#navbar__search-btn:hover{
    opacity: 0.8;
}

.search-icon {
    display: block;
    font-size: 2.1rem;
    color: #fff;
}

.header__hotline {
    display: flex;
    align-items: center;
}

.hotline-icon {
    color: #fff;
    font-size: 2.1rem;
    display: flex;
    padding: 6px 16px 6px 0;
    cursor: pointer;
}

.hotline-sdt {
    color: #fff;
    margin: 0 0 3px;
    font-size: 1.4rem;
    cursor: pointer;
    font-weight: 700;
}

.hotline-desc {
    font-size: 1.3rem;
    color: #fff;    
    cursor: pointer;
}

/* container */
#container {
    z-index: 1;
    width: 1364px !important;
    max-width: 100%;
    padding: 0 66px;
    margin: auto;
}
/*  */

.change-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.show-img {
    cursor: pointer;
    width: 70%;
    margin-bottom: 10px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%), 0 6px 6px rgb(0 0 0 / 10%);
    margin-right: 15px;
}

.Sphere {
    display: flex;
    justify-content: center;
    color: var(--primary);
    font-size: 1.2rem;
}

/*  */
#main {
    width: 100%;
    display: flex;
    margin-top: 60px;
    margin: auto;
}

/* left column */
#left-column {
    z-index: 2;
    position: relative;
    margin-bottom: 40px;
    border-radius: 4px;
    width: 20%;
    background-color: #d6ecfa;
    margin-top: 0px;
    overflow: hidden;
}

.accordion__icon-delete {
    display: none;
    font-size: 4rem;
    padding: 14px 12px 14px 22px;
}


.accordion__left {
    background-color: var(--primary2);
    font-size: 1.6rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    color: #fff;
    cursor: pointer;
    height: 44px;
}

#accordion .accordion__cap {
    margin: 20px 0 0;
    font-size: 1.8rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding: 10px 12px;
    color: var(--primary2);
    cursor: pointer;
    height: 44px;
}


/* label */
#accordion .accordion__form label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.4rem;
    margin:  10px 0 10px 30px;
}

#accordion .accordion__form input {
    width: 16px;
    height: 21px;
    margin-right: 25px;
}

#accordion .accordion__form label:hover {
    color: var(--primary);
}


/* right column */
#right-column {
    z-index: 1;
    width: 80%;
}

.accordion__right {
    z-index: 1;
    cursor: pointer;
    border-top: 1px solid #000;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #ccc;
}

.accordion-icon {
    padding: 0 10px;
    line-height: 44px;
    font-size: 1.8rem;
}

.accordion-desc {
    color: #3f3f3f;
    font-weight: 500;
    transition: all .2s ease;
    line-height: 44px;
    display: inline-flex;
    font-size: 1.4rem;
    align-items: center;
    position: relative;
}


.accordion__right:hover {
    opacity: 0.8;
}

/*  */
#list-phones {
    z-index: 1;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 5px 0 10px;
}

#list-phones .phones {
    z-index: 1;
    text-align: center;
    border: 1px solid rgb(226, 224, 224);
    margin: 15px 0 30px 15px;
    font-size: 1.6rem;
    border-radius: 4px;
    min-height: 300px;
}


#list-phones .phones:hover {
    box-shadow: 0 10px 20px rgb(0 0 0 / 13%), 0 6px 6px rgb(0 0 0 / 15%);
    border-radius: 4px;
    transition: all .2s ease;
    margin-top: 13px;
}

#list-phones .phones img {
    max-width: 80%;
    margin: 10px;
    max-height: 70%;
    cursor: pointer;
}

/*  */
.phones-name {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 5px 10px;
    min-height: 40px;
    line-height: 1.4;
}
.phones-inch {
    color: var(--primary);
    font-size: 1.4rem;
    font-weight: 500;
    margin: 5px 10px;
    min-height: 40px;
    line-height: 1.4;
}

.phones-price {
    font-size: 1.4rem;
    margin: 10px 0 6px;
    font-weight: 600;
    color: var(--primary);
}
.price-product {
    display: flex;
    align-items: center;
    justify-content: center;
}

.price-desc {
    display: flex;
    align-items: center;
    font-weight: 600;
    margin-top: 2px;
    margin-left: 3px;
    color: var(--primary);
    font-size: 1.6rem;
}

.price-cart {
    display: flex;
    align-items: center;
    justify-content: center;
}

.price-desc-cart {
    display: flex;
    align-items: center;
    font-weight: 600;
    margin-left: 3px;
    color: var(--primary);
    font-size: 1.4rem;
}


.add-cart {
    text-decoration: none;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 6px 0;
    width: 90%;
    font-size: 1.2rem;
    text-align: center;
    text-transform: uppercase;
    background: #fa9308;
    background: -moz-linear-gradient(top, #fa9308 0%, #fa6f1c 100%);
    background: -webkit-linear-gradient(top, #fa9308 0%,#fa6f1c 100%);
    background: linear-gradient(to bottom, #fa9308 0%,#fa6f1c 100%);
    cursor: pointer;
}

.add-cart:hover {
    opacity: 0.8;
}

.buy-btn:hover {
    opacity: 0.9;
}

.phones-desc {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 10px;
    line-height: 1.3;
}
.phones-more {
    color: var(--primary);
    cursor: pointer;
    margin-left: 2px;
    font-size: 1.4rem;
}
.phones-more:hover {
    opacity: 1.7;
}

#total-phone {
    background: linear-gradient(130deg, #fa9308 30%, #fa6f1c 10%);
    height: 44px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.9rem;
    font-weight: 500;
}
.list__item-icon {
    display: none;
}
.total-phones {
    display: flex;
    line-height: 44px;
    justify-content: center;
} 
/*  */

/* button go to top */
.go-to-top {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 30px;
    border: none;
    background-color: var(--primary2);
    padding: 10px 16px;
    z-index: 11;
    border-radius: 6px;
}

.go-to-top-icon {
    font-size: 1.8rem;
    color: #fff;
}

/* pagination */
#pagination {
    margin-bottom: 20px;
    justify-content: center;
    display: flex;
    list-style-type: none;
}
#pagination li {
    font-size: 1.6rem;
    border: 1px solid #ccc;
    color: #000;
    line-height: 21px;
    cursor: pointer;
    border-radius: 4px;
    padding: 3px 13px;
    margin: 0 10px;
}


#pagination li:hover {
    opacity: 0.7;
}

.pagination-icon {
    font-size: 1.2rem;
    color: var(--primary);
}

/*  */
#footer {
    max-width: 1364px;
    width: 100%;
    margin: auto;
    padding-top: 1px;

    border-top: 1px solid #ccc;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 5px 0 10px;
}

.footer__column {
    padding: 30px 10px 0 0;
}

.footer__heading {
    width: 100%;
    color: #c69a39;
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0 40px;
}

.footer__adress {
    margin: 30px 0 0 30px;
    font-size: 15px;
    color: #333;
    font-weight: bold;
    padding-bottom: 5px;
}

.footer-info p {
    font-size: 1.4rem;
    color: #222222;
    padding: 0 0px 3px 0;
    margin-left: 30px;
    margin-bottom: 5px;
    line-height: 1.4;
}

.footer__sdt {
    cursor: pointer;
}

/*  */
.footer-map {
    color: var(--primary2);
    border-left: 2px solid var(--primary2);
    cursor: pointer;
    padding: 0 5px;
    margin-left: 6px;
}

.footer__service {
    margin: 30px 0 0 20px;
}

.footer__desc {
    text-decoration: none;
    cursor: pointer;
    color: #58595b;
    font-size: 15px;
    margin: 10px 0 10px 20px;
}

/*  */
.footer__search-input {
    position: relative;
    width: 285px;
}

.footer__input {
    margin: 30px 0 40px 30px;
    border: 1px solid #bcbec0;
    box-sizing: border-box;
    border-radius: 3px;
    width: 170px;
    height: 30px;
    padding: 5px;
    font-size: 13px;
    outline: none;
    border: 1px solid #ccc;
}

.footer__input:focus {
    border: 1px solid rgb(156, 156, 246);
}

.footer__input-delete {
    cursor: pointer;
    display: none;
    position: absolute;
    font-size: 2rem;
    top: 29px;
    right: 85px;
    padding: 8px 10px;
}

.footer__btn {
    margin: 30px 0 5px 5px;
    width: 55px;
    height: 30px;
    background: #c69a39;
    color: white;
    border: none;
    border-radius: 5px;
    right: 0;
    cursor: pointer;
}

.footer__btn:hover {
    opacity: 0.8;
}

.footer__link {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 30px;
}

.footer__app {
    font-size: 14px;
    text-decoration: none;
    color: #58595b;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    margin: 3px 0 3px;
    cursor: pointer;
}

#footer .footer__icon-fb {
    color: blue;
}

.footer__app-icon {
    margin-right: 3px;
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    width: 25px;
    height: 25px;
    color: red;
}

.footer__other {
    margin: 30px 0 0 30px;
}

.footer__orther-desc {
    font-weight: 500;
    line-height: 14px;
    font-size: 14px;
    color: #3f3f3f;
    display: block;
    margin-bottom: 10px;
    line-height: 1.4;
    cursor: pointer;
}

/* footer after */
.footer__after {
    border-top: 1px solid #ccc;
    margin: 5px 0 30px;
}

.footer__after-info {
    text-align: center;
    color: #3f3f3f;
    font-size: 1.2rem;
    margin: 10px 0;
    padding: 0 10px;
}

