/* mobile */
@media (max-width: 46.1875em) {
    .navbar__top-items {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0;
    }
    .navbar__top {
        padding: 0;
        margin: 0;
    }

    .nav__bar-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 120px;
        margin: 0;
    }

    .navbar__qr {
        margin-top: 0;
    }
    .navbar__top-left li {
        margin: 0;
        padding: 6px 15px;
        display: flex;
        justify-content: center;
    }

    .navbar__top-left {
        display: flex;
        justify-content: center;
        margin-top: 5px;
    }

    .navbar__top-right {
        display: flex;
        justify-content: center;
        margin-top: 5px;
    }
    
    .navbar__qr::before {
        content: '';
        display: block;
        width: 196px;
        height: 20px;
        background-color: transparent;
        margin-top: -20px;
        margin-left: 10px;
    }

    .navbar__top-right li {
        padding: 6px 15px;
        margin: 0;
    }
    .hide-mobile {
        display: none;
    }

    .logo-nguyenkim {
        display: flex;
        justify-content: center;
    }

    .navbar__input {
        display: flex;
        justify-content: center;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        width: 300px;
    }
    
    .header__hotline {
        display: none;
    }

    .show-img {
        width: 100%;
        margin: 10px 0;
    }
    .header__video {
        border-top: 10px solid #000;
        border-bottom: 10px solid #000;
    }
    .change-img {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #accordion .accordion__form label {
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 1.5rem;
        margin:  10px 0 10px 30px;
    }
    
    #accordion .accordion__form input {
        width: 16px;
        height: 20px;
        margin-right: 20px;
    }

    .accordion__right {
        display: none;
    }
    #total-phone {
        margin-top: 20px;
    }
    html .list__item-icon {
        margin-top: 20px;
        color: #fff;
        display: block !important;
        position: absolute;
        padding: 11px 20px 10px 14px;
        font-size: 2.4rem;
    }

    #container {
        padding: 0 10px;
    }
    #left-column {
        height: 100%;
        display: none;
        position: fixed;
        width: 65%;
        top: 0;
        left: 0;
        background-color: #d6ecfa;
        animation: leftColumnFadeIn ease .3s;
    }
    @keyframes leftColumnFadeIn {
        from {
            opacity: 0.4;
            transform: translateX(-140px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    
    #accordion .accordion__cap label {
        display: block;
        cursor: pointer;
        font-size: 1.5rem;
        margin: 4px 0 8px 30px;
    }
    #accordion .accordion__cap {
        margin: 0;
        font-size: 1.6rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        padding: 14px 14px 10px;
        color: var(--primary2);
        cursor: pointer;
        height: 30px;
    }

    #right-column {
        width: 100%;
    }
    .accordion__left {
        background-color: var(--primary2);
        font-size: 1.6rem;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        cursor: pointer;
        height: 44px;
    }
    .accordion__icon-delete {
        display: block;
        font-size: 4rem;
        padding: 14px 14px 14px 18px;
    }

    #list-phones {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    #list-phones .phones {
        margin: 15px 5px 30px 5px;
    }
    #list-phones .phones img {
        margin: 10px 0 0 0;
    }

    .phones-price {
        font-size: 1.4rem;
        margin: 0 0 6px;
    }

    .phones-name {
        min-height: 46px;
    }

    #footer {
        overflow: hidden ;
        display: grid;
        grid-template-columns: 100%;
    }
    .footer__column {
        padding: 40px 10px 0px;
    }

    .footer__search-input {
        width: 285px;
    }
}

/* Tablet & mobile */
@media (max-width: 63.9375em) {

}

/* tablet - PC low */
@media (min-width: 46.25em) and (max-width: 70em) {
    .navbar__top {
        padding: 0 48px;
        margin: 0 33px;
    }
    #list-phones {
        display: grid;
        grid-template-columns: 33.333% 33.333% 33.333%;
    }
    .phones-name {
        min-height: 46px;
    }
    #container {
        padding: 0 10px;
    }
    .show-img {
        width: 100%;
        margin: 10px 0;
    }
    .header__video {
        border-top: 10px solid #000;
        border-bottom: 10px solid #000;
        margin: 15px 0;
    }

    .navbar__top {
        padding: 0 44px;
        margin: 0;
    }
    .navbar__top-left li {
        margin-right: 10px;
    }
    .navbar__top-right li {
        margin-left: 10px;
    }

    .nav__bar-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 150px;
        padding: 0 10px;
        margin: 10px 0 0;
    }
    .logo-nguyenkim {
        display: flex;
        justify-content: center;
        margin: 10px auto;
    }

    .navbar__input {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    .header__hotline {
        display: none;
    }
    .change-img {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    /*  */

    #accordion .accordion__form label {
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 1.5rem;
        margin:  10px 0 10px 20px;
    }
    
    #accordion .accordion__form input {
        width: 15px;
        height: 20px;
        margin-right: 15px;
    }

    .accordion__right {
        display: none;
    }
    #left-column {
        width: 25%;
    }
    #right-column {
        width: 75%;
    }

    /*  */
    #accordion .accordion__cap label {
        display: block;
        cursor: pointer;
        font-size: 1.5rem;
        margin:  8px 0 8px 20px;
    }

    .accordion__left {
        font-size: 1.5rem;
    }
    #accordion .accordion__cap {
        margin: 15px 0 0;
        font-size: 1.8rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        color: var(--primary2);
        cursor: pointer;
        height: 44px;
    }

    /* footer */
    #footer {
        overflow: hidden ;
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .footer__search-input {
        width: 285px;
    }

}


/* xử lý phần holine */
@media (min-width: 60em) and (max-width: 76em) {
    .header__hotline {
        display: none;
    }
}

@media (max-width: 20em) {
    .header__video {
        width: 100%;
    }
}

@media (min-width: 48em) and (max-width: 51.25em) {
    .nav__bar-body {
        height: 130px;
        margin-top: 0;
    }

    .hide-mobile {
        display: none !important;
    }

    .navbar__top-left li {
        margin: 0;
        padding: 6px 15px;
        display: flex;
        justify-content: center;
    }

    .navbar__top-right li {
        margin: 0;
        padding: 6px 15px;
        display: flex;
        justify-content: center;
    }
}
